* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header h1 {
    background-color: aqua;
    text-align: center;
    font-weight: bold;
    position: relative;
    top: 50px;
}

.nav {
    background-color: blanchedalmond;
}

.nav a {
    color: seashell;
    text-align: center;
    display: flex;
    padding: 10px 10px;
    font-size: 14;
}

.nav a:hover {
    background-color: sandybrown;
    color: blue;
}

.nav a.active {
    background-color: aquamarine;
    color: antiquewhite;
}

.intro img {
    max-width: 20%;
    max-height: 20%;
    margin: 30px 0px;
    
}

.intro h2 {
    text-align: center;
}

